doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../scss/main.css")
        title Saasify
    body 
        header#header.header
            #display
                nav.navbar
                    .navbar-container
                        //- drower
                        .logo
                            img(src="../assets/icons/lightng.svg", alt="logo")
                            h2 Superpage 
                        .drower 
                            ul.nav-drower
                                li.drower-item
                                    a(href="#")
                                        img(src="../assets/icons/home.svg", alt="") 
                                        h2 Home
                                li.drower-item
                                    a(href="#")
                                        img(src="../assets/icons/monitoring.svg", alt="") 
                                        h2 Dashboard
                                li.drower-item
                                    a(href="#")
                                        img(src="../assets/icons/group.svg", alt="") 
                                        h2 Teams
                                li.drower-item
                                    a(href="#")
                                        img(src="../assets/icons/stacks.svg", alt="") 
                                        h2 Boards 
                                li.drower-item
                                    a(href="#") 
                                        img(src="../assets/icons/chat.svg", alt="") 
                                        h2 Inbox 
                                li.drower-item
                                    a(href="#") 
                                        img(src="../assets/icons/calendar.svg", alt="") 
                                        h2 Timeline 
                                li.drower-item
                                    a(href="#")
                                        img(src="../assets/icons/more.svg", alt="") 
                                        h2 More Options
                .nav-m
                    .header-conteiner 
                        nav.header-nav 
                        p Tasks Home
                        textarea(name="Search") 🔍 Search... 
                        .header-nav-menues
                            .header-plus 
                                a(href="components/login.html")  +
                            .notifcation 
                                img(src="../assets/icons/notification.svg", alt="")
                            .user-nav 
                                h2 M
                        .header-nav-menu 
                            
                    .sec-2 
                        hr
                        .con1 
                            h2.h2-nav Hi Johnson, You are almost done.
                            p Please complete few steps to setup your account complety.
                            hr
                            .file-container
                                .file
                                    .pic
                                        img(src="../assets/icons/file.svg", alt="")
                                    .completed 
                                        h3 Completed Tasks 
                                        h2 10.2K
                                .file
                                    .pic    
                                        img(src="../assets/icons/mail.svg", alt="")
                                    .completed    
                                        h3 Assigned Tasks
                                        h2 3.4K
                                .file
                                    .pic
                                        img(src="../assets/icons/stacks.svg", alt="")
                                    .completed    
                                        h3 All Boards
                                        h2 450
                                .file
                                    .pic
                                        img(src="../assets/icons/calendar.svg", alt="")
                                    .completed    
                                        h3 Scheduled Tasks 
                                        h2 23
                        .con2 
                            .row1
                                .row1-col1
                                    .row1-con-text
                                        .row1-texts 
                                            h2 Tasks Priorities 
                                            p.row-text-g Team tasks sorted by priority 
                                        .row1-btn 
                                            button.row1-btn-button(type="button") + Task
                                            img(src="../assets/icons/more2row.svg", alt="")
                                .row1-col2 
                                    .row1-col2-filter 
                                        button.filter#row1-filter-Up(type="button") 4 Upcoming
                                        button.filter#row1-filter-Ov(type="button") 2 Overdue 
                                        button.filter#row1-filter-Co(type="button") 0 Completed
                                .row1-col3 
                                    .row1-col3-filter
                                        .row1-item
                                            input(type="checkbox", name="mm", id="hh")
                                        .row1-item-text 
                                            p.row1-loko Complete UX for new landing page
                                                .itemss 
                                                    img(src="../assets/icons/calendar.svg", alt="")
                                                    p 30 Aug 2022 - 11:30AM
                                                    img(src="../assets/icons/sell.svg", alt="")
                                                    p UX 
                                    .row1-item 
                                        img(src="../assets/icons/more_horiz.svg", alt="")
                                .row1-col3 
                                    .row1-col3-filter
                                        .row1-item
                                            input(type="checkbox", name="mm", id="hh")
                                        .row1-item-text 
                                            p.row1-loko Complete UX for new landing page
                                                .itemss 
                                                    img(src="../assets/icons/calendar.svg", alt="")
                                                    p 30 Aug 2022 - 11:30AM
                                                    img(src="../assets/icons/sell.svg", alt="")
                                                    p UX 
                                    .row1-item 
                                        img(src="../assets/icons/more_horiz.svg", alt="")
                                .row1-col3 
                                    .row1-col3-filter
                                        .row1-item
                                            input(type="checkbox", name="mm", id="hh")
                                        .row1-item-text 
                                            p.row1-loko Complete UX for new landing page
                                                .itemss 
                                                    img(src="../assets/icons/calendar.svg", alt="")
                                                    p 30 Aug 2022 - 11:30AM
                                                    img(src="../assets/icons/sell.svg", alt="")
                                                    p UX 
                                    .row1-item 
                                        img(src="../assets/icons/more_horiz.svg", alt="")
                                .row1-col3 
                                    .row1-col3-filter
                                        .row1-item
                                            input(type="checkbox", name="mm", id="hh")
                                        .row1-item-text 
                                            p.row1-loko Complete UX for new landing page
                                                .itemss 
                                                    img(src="../assets/icons/calendar.svg", alt="")
                                                    p 30 Aug 2022 - 11:30AM
                                                    img(src="../assets/icons/sell.svg", alt="")
                                                    p UX 
                                    .row1-item 
                                        img(src="../assets/icons/more_horiz.svg", alt="") 
                            .row2c
                                .row1-col1
                                    .row2-con-text
                                        .row2-texts 
                                            h2 Announcements 
                                            p.row2-text-p From personal and team project 
                                        img(src="../assets/icons/more2row.svg", alt="")
                                .row2-col2 
                                    .row2.col2-l 
                                        img.miage(src="../assets/icons/account_circle.svg", alt="")
                                        .row2.col2.l-text 
                                            h2 We have fixed our app's bugs based on test res...
                                            .row2-l-texts 
                                                img(src="../assets/icons/calendar.svg", alt="")
                                                p 30 Aug 2022 - 11:30AM
                                                p @ From
                                                p.colorful Anderson
                                .row2-ch 
                                .row2-col3
                                    .row2.col3-l 
                                        h2.lig ⚡
                                        .row2.col3.l-text 
                                            h2 Feature 1 : Login and signup screen 
                                            p This screens having some minor issues, wichi stop u..
                                .row2-col3
                                    .row2.col3-l 
                                        h2.lig ⚡
                                        .row2.col3.l-text 
                                            h2 Feature 1 : Login and signup screen 
                                            p This screens having some minor issues, wichi stop u..
                                .row2-col2 
                                        .row2.col2-l 
                                            img.miage(src="../assets/icons/account_circle.svg", alt="")
                                            .row2.col2.l-text 
                                                h2 We have fixed our app's bugs based on test res...
                                                .row2-l-texts 
                                                    img(src="../assets/icons/calendar.svg", alt="")
                                                    p 30 Aug 2022 - 11:30AM
                                                    p @ From
                                                    p.colorful Anderson
                                .row2-col2 
                                        .row2.col2-l 
                                            img.miage(src="../assets/icons/account_circle.svg", alt="")
                                            .row2.col2.l-text 
                                                h2 We have fixed our app's bugs based on test res...
                                                .row2-l-texts 
                                                    img(src="../assets/icons/calendar.svg", alt="")
                                                    p 30 Aug 2022 - 11:30AM
                                                    p @ From
                                                    p.colorful Anderson
                    .sec3 
                        .row1-col1
                            .row2-con-text
                                .row2-texts
                                    h3 My Teams 
                                    p.row2-text-p Teams with assigned tasks
                                    .team-btn 
                                        button.row1-btn-button(type="button") + Team
                                    .tems
                                        .team
                                            .team-img 
                                                img(src="../assets/icons/more_horiz.svg", alt="")
                                            .uer-p 
                                                img(src="../assets/icons/account_circle.svg", alt="")
                                            .uer-p-text 
                                                h3 John's Team
                                                p 2 Members 
                                        .team
                                            .team-img
                                                img(src="../assets/icons/more_horiz.svg", alt="")
                                            .uer-p 
                                                img(src="../assets/icons/account_circle.svg", alt="")
                                            .uer-p-text 
                                                h3 John's Team
                                                p 2 Members
                                        .team
                                            .team-img
                                                img(src="../assets/icons/more_horiz.svg", alt="")
                                            .uer-p 
                                                img(src="../assets/icons/account_circle.svg", alt="")
                                            .uer-p-text 
                                                h3 John's Team
                                                p 2 Members
                                        .team
                                            .team-img
                                                img(src="../assets/icons/more_horiz.svg", alt="")
                                            .uer-p 
                                                img(src="../assets/icons/account_circle.svg", alt="")
                                            .uer-p-text 
                                                h3 John's Team
                                                p 2 Members
                                        
