doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title login
    body 
        .nav 
            .logo-login
                h2 ⚡ Superpage 
            .btn_login 
                button#exp(type="button")

                button#get(type="button")
    script(src="/script.js") 